<!-- Primary Page Info -->
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ page.description | default: site.description | strip_html | escape }}">

<!-- Open Graph / Facebook / Pinterest / Messaging Apps -->
<meta property="og:type" content="{% if page.layout == 'recipe' %}article{% else %}website{% endif %}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{{ page.description | default: site.description | strip_html | escape }}">

{% if page.image %}
  <meta property="og:image" content="{{ page.image | absolute_url }}">
{% endif %}

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{{ page.description | default: site.description | strip_html | escape }}">

{% if page.image %}
  <meta name="twitter:image" content="{{ page.image | absolute_url }}">
{% endif %}
